*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', serif;
}

.container{
    max-width: 1280px;
    margin: auto;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.logo img{
    width: 160px;
    
}

nav li{
    display: inline-block;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
}


.hero{
    background-image: url("img/banner.jpg");
    width: 1280px;
    height: 560px;
}

.hero .inner{
    display: inline-block;
    vertical-align: bottom;
    padding-top: 400px;
    padding-right: 40px;
    color: white;
}

.box-3{
    min-height: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: grey;
}

.titolo-1{
    min-height: 100px;
    margin-bottom: 20px;
    padding: 30px;
    
}

.left, .right{
    width: 20%;
    float: left;
    min-height: 400px;
    margin-bottom: 20px;
}

.middle{
   float: left;
    width: calc(60% - 20px);
    min-height: 400px;
    margin:auto 10px;
}

.box-4{
    text-align: center;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin: auto;

}

.hearts{
    background-color: red;
}



