*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', serif;
}

.container{
    max-width: 1280px;
    margin: auto;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.logo img{
    width: 160px;
    
}

nav li{
    display: inline-block;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
}


.hero img{
    width: 1280px;
}

.hero .inner{
    display: inline-block;
    vertical-align: bottom;
}

.box-3{
    background-color: blue;
    min-height: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.titolo-1{
    background-color: lightblue;
    min-height: 100px;
    margin-bottom: 20px;
    padding: 30px;
}

.left, .right{
    background-color: lightblue;
    width: 20%;
    float: left;
    min-height: 400px;
    margin-bottom: 20px;
}

.middle{
    background-color: lightblue;
    float: left;
    width: calc(60% - 20px);
    min-height: 400px;
    margin:auto 10px;
}

.box-4{
    background-color: rgb(160, 49, 160);
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;

}





